Therapose/app/app/app_env
Therapose/app/app/calibration/files/*
Therapose/app/app/connection_db/temp/*
Therapose/app/app/images/patients/*
Therapose/db/.env 
Therapose/db/mongo_replication.key
/Documents
__pycache__/